<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ORIGINAL Shoes</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="ie/html5shiv.js" th:href="@{/js/html5shiv.js}></script><![endif]-->
    <link href="css/main.css"
          th:href="@{/css/main.css}"
          rel="stylesheet" media="screen"/>
    <!--[if lte IE 8]>
    <link href="css/ie8.css"
          th:href="@{/css/ie8.css}"
          rel="stylesheet" media="screen"/><![endif]-->
    <!--[if lte IE 9]>
    <link href="css/ie9.css"
          th:href="@{/css/ie9.css}"
          rel="stylesheet" media="screen"/><![endif]-->
</head>
<body>
<!--<div id="page-wrapper">-->

    <!-- Header -->
    <!--<div id="header-wrapper">-->
        <div class="container">

            <div id="reg">
                <button onclick="document.getElementById('id01').style.display='block'">Sign up</button>
                <button onclick="document.getElementById('id02').style.display='block'">Log in</button>
            </div>

            <!-- Header -->
            <header id="header">
                <div class="inner" th:fragment="header">

                    <!-- Logo -->
                    <h1><a href="#" th:href="@{home}" id="logo">ORIGINAL Shoes</a></h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li>
                                <a href="#">Женская</a>
                                <ul>
                                    <li><a href="#">Туфли</a></li>
                                    <li><a href="#">Спортивные туфли</a></li>
                                    <li><a href="#">Мокасины</a></li>
                                    <li><a href="#">Балетки</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Мужская</a>
                                <ul>
                                    <li><a href="#">Туфли</a></li>
                                    <li><a href="#">Спортивные туфли</a></li>
                                    <li><a href="#">Мокасины</a></li>
                                    <li><a href="#">Балетки</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Детская</a>
                                <ul>
                                    <li><a href="#">Туфли</a></li>
                                    <li><a href="#">Спортивные туфли</a></li>
                                    <li><a href="#">Мокасины</a></li>
                                    <li><a href="#">Балетки</a></li>
                                </ul>
                            </li>
                            <li><a href="#" th:href="@{new}">Новинки</a></li>
                            <li><a href="#" th:href="@{home}">Контакты</a></li>
                            <li><input type="search" placeholder="Искать"/></li>
                        </ul>
                    </nav>

                </div>
            </header>

            <!--Form of Registration-->
            <div id="id01" class="modal">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                      title="Close Modal">×</span>
                <form class="modal-content animate" th:object="${user}" th:action="@{/registration}" method="post">
                    <div class="container-registration">
                        <label><b>First name</b></label>
                        <input class="input-registration" type="text" placeholder="Enter First name" name="firstName"/>

                        <label><b>Last name</b></label>
                        <input class="input-registration" type="text" placeholder="Enter Last name" name="lastName"/>

                        <label><b>User name</b></label>
                        <input class="input-registration" type="text" placeholder="Enter User name" name="username"/>

                        <label><b>Password</b></label>
                        <input class="input-registration" type="password" placeholder="Enter Password" name="password"
                               id="password"/>
                        <label><b>Repeat Password</b></label>
                        <input class="input-registration" type="password" placeholder="Repeat Password"
                               name="repeatPassword" id="password_confirm" oninput="check(this)"/>

                        <label><b>Email</b></label>
                        <input class="input-registration" type="email" placeholder="Enter Email" name="email"/>

                        <label><b>Phone number</b></label>
                        <input class="input-registration" type="number" placeholder="Enter phone number"
                               name="phoneNumber"/>

                        <label><b>Your Photo</b></label>
                        <input type="file" name="avatar" placeholder="avatarka"/>

                        <div class="clearfix">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                    class="cancelbtn">Cancel
                            </button>
                            <!--<a href="#" th:href="@{registration}"><button type="submit" class="signupbtn" >Sign Up</button></a>-->
                            <button type="submit" class="signupbtn">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>

            <!--Form of Login-->
            <div id="id02" class="modal">
                <span onclick="document.getElementById('id02').style.display='none'" class="close"
                      title="Close Modal">×</span>
                <form class="modal-content animate" th:object="${user}" th:action="@{/login}" method="post">
                    <div class="container-registration">

                        <label><b>Email</b></label>
                        <input class="input-registration" type="email" placeholder="Enter Email" name="email"/>

                        <label><b>Password</b></label>
                        <input class="input-registration" type="password" placeholder="Enter Password" name="password"
                               id="password"/>

                        <div class="clearfix">
                            <button type="button" onclick="document.getElementById('id02').style.display='none'"
                                    class="cancelbtn">Cancel
                            </button>
                            <!--<a href="#" th:href="@{registration}"><button type="submit" class="signupbtn" >Sign Up</button></a>-->
                            <button type="submit" class="signupbtn">Log in</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    <!--</div>-->

<!--</div>-->
<!-- Scripts -->

<script src="js/jquery.min.js"></script>
<script src="js/jquery.dropotron.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-viewport.min.js"></script>
<script src="js/util.js"></script>

<script src="js/ie/respond.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>