<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ORIGINAL Shoes</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="ie/html5shiv.js" th:href="@{/js/html5shiv.js}></script><![endif]-->
    <link href="css/main.css"
          th:href="@{/css/main.css}"
          rel="stylesheet" media="screen"/>
    <!--[if lte IE 8]>
    <link href="css/ie8.css"
          th:href="@{/css/ie8.css}"
          rel="stylesheet" media="screen"/><![endif]-->
    <!--[if lte IE 9]>
    <link href="css/ie9.css"
          th:href="@{/css/ie9.css}"
          rel="stylesheet" media="screen"/><![endif]-->
</head>
<body>

<div class="container">
            <th:block th:include="fragments/header"></th:block>
    <div id="main-wrapper">
        <div class="wrapper style1">
            <div>
                <form class="form-horizontal" th:object="${products}" th:action="@{/createProduct}" method="post">
                    <input type="hidden"/>
                    <input type="hidden"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Brand: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="brand"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="price"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Type: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="type"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Sex: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="sex"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Size: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="size"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Width: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="width"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Picture: </label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" name="picture"/>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <button type="submit" class="button medium icon fa-arrow-circle-right">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/footer"></th:block>
<!-- Scripts -->

<script src="js/jquery.min.js"></script>
<script src="js/jquery.dropotron.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-viewport.min.js"></script>
<script src="js/util.js"></script>

<script src="js/ie/respond.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>